main p{
    text-align: left;
    padding: 15px 0;
    padding-left:15px;
}
main li{
padding: 15px 0;
    padding-left:15px;
}
h1{
color: var(--color-secundari);
}
p strong{
    color: var(--color-primari);
}
h2{
    color: var(--color-secundari);
}