:root {
    --color-data-autor :  #505050;
    --color-fons-2 : #efefef;
}

.main {
    padding-left: 15px;
    padding-right: 15px;
}

.subtitol h2, .subtitol h3 {
    color: var(--color-secundari);
    white-space: nowrap;
    padding-right: 10px;
}

.subtitol {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.linea_separadora {
    width: 100%;
    border-radius: 10px;
    border-bottom: 4px solid var(--color-primari);
}

#barra_cerca {
    position: relative;
    width: 100%;
}

#buscar {
    width: 100%;
    padding: 5px;
    padding-left: 15px;
    box-sizing: border-box;  
}

#icona_buscar {
    position: absolute;
    top: 50%;
    right: 10px;                  
    transform: translateY(-50%);
    color: var(--color-vora-2);
    cursor: pointer;
    font-size: 1.2em;
}

/* Estils de noticia destacada */

.imatge_principal {
    display: block;
    position: relative;
    padding-top: 25px;
}

.imatge_principal img {
    width: 100%;
    display: block;
}

.imatge_principal p {
    position: absolute;
    color: var(--color-primari);
    z-index: 5;
    padding: 5px 12px;
    width: 80%;
    background-color: rgba(13, 22, 29, 0.5);
    border-radius: 10px;
}

.recents {
    top: 30px;
    left: 20px;
    font-weight: bold;
    border-left: 7px solid var(--color-secundari);
}

.titol_destacada {
    bottom: 60px;
    left: 20px;
    font-size: 1.8em;
    font-weight: bold;
}

.data_destacada {
    bottom: 0px;
    left: 20px;
    border-radius: 4px;
}

#portada_mb {
    display: none;
}

/* Estils de les categories */

.separacio_categories {
    padding-left: 15px;
    padding-right: 15px;
}

.categoria {
    border: 1px solid var(--color-primari);
    padding: 10px;
    margin-bottom: 30px;
}

.titol_categoria {
    color: var(--color-secundari);
    font-weight: bold;
    margin-bottom: 15px;
    padding-top: 5px;
}

.titol_categoria:hover {
    opacity: 0.7;
}

.categoria_element {
    border-top: 1px solid var(--color-primari);
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.categoria_contingut {
    margin-right: 10px;
}

.categoria_contingut a {
    text-align: left;
}

.categoria_contingut a:hover {
    opacity: 0.7;
}

.categoria_data_noticia {
    margin: 10px 0 10px 0;
    font-size: 0.7em;
}

.categoria_imatge img {
    width: 80px;
}

.opcio_seguents_dk, .opcio_seguents_mb, .veure_mes{
    margin-bottom: 30px; 
    text-align: center;
}

.vore_seguents {
    font-size: 1.2em;
    padding: 10px 20px 10px 20px;
    color: var(--color-lletra-blanca);
    border: 1px solid var(--color-secundari);
    background-color: var(--color-primari);
    border-radius: 5px;
    text-align: center;
}

.vore_seguents:hover {
    opacity: 0.8;
}

.opcio_seguents_mb {
    display: none;
}

/* ----------------- Estils de pagina categoria -------------------- */

.noticies_categoria {
    padding: 25px 0 25px 0;
}

.grup_categories:hover, .noticies:hover, .categoria_element:hover{
    opacity: 0.6;
}

.grup_categories img {
    width: 100%;
}

.grup_categories p, .noticies p {
    padding: 8px 0px 8px 0;
    margin: 0;
}

.linea_categoria {
    border-right: 3px solid var(--color-vora-2);
}

.linea_baix_categoria {
    border-bottom: 3px solid var(--color-vora-2);
    margin: 10px 0px 10px 0;
}

.linea_baix_mb {
    display: none;
}

.linea_categoria:last-child {
    border-right: none;
}

.titol_noticia {
    font-size: 1.1em;
    font-weight: bold;
}

.autor_data {
    color: var(--color-data-autor);
    font-size: 0.7em;
}

.noticies {
    margin-right: 20px;
    box-sizing: border-box;
    display: block;
}

.noticies:last-child {
    margin-right: none;
}

.noticies img {
    width: 100%;
}

.noticies .autor_data {
    font-size: 0.9em;
}

.veure_mes {
    padding-top: 40px;
    padding-bottom: 20px;
}

/* ----------------- Estils de pagina noticia -------------------- */

.titol {
    font-size: 2.5em;
    font-weight: bold;
}

.introduccio {
    font-size: 1.5em;
    text-align: justify;
}

.imatge_portada {
    width: 100%;
    padding: 25px;
}

.autor {
    display: flex;
    margin-top: 15px;
}

.autor_imatge img {
    width: 95px;
    margin-right: 20px;
}

.autor_informacio {
    font-size: 1.2em;
}

.text_noticia {
    font-size: 1.3em;
}

.text_noticia p {
    padding-bottom: 15px;
}

/* Si l'ample de la pantalla es menor o igual a 767px */
@media only screen and (max-width: 767px) {

    #portada_mb {
        display: block;
    }

    #portada_dk {
        display: none;
    }

    .imatge_principal p {
        width: 90%;
    }

    .titol_destacada {
        bottom: 25px;
        font-size: 1.4em;
    }
    
    .opcio_seguents_dk {
        display: none;
    }

    .opcio_seguents_mb {
        display: block;
    }

    .linea_baix_mb {
        display: flex;
    }

    .linea_categoria {
        border: none;
    }

    .imatge_portada {
        padding: 0;
    }

    .titol {
        font-size: 2.2em;
    }

    .introduccio {
        font-size: 1.4em;
        padding-bottom: 15px;
    }

    .autor_imatge img {
        width: 80px;
    }

    .autor_informacio {
        font-size: 0.95em;
    }

    .text_noticia {
        font-size: 1.3em;
    }
}

/* Si l'ample de la pantalla es menor o igual a 485px */
@media only screen and (max-width: 485px) {

    .titol_destacada {
        font-size: 1.1em;
        width: 80%;
    }
}